<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>is_opened</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>upshot_safari_login</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Login</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>upshot_safari_token</string>
		<key>Password</key>
		<true/>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Token</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>upshot_safari_user_id</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>USER_ID</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>upshot_safari_accounts</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Accounts</string>
		<key>Titles</key>
		<array/>
		<key>Type</key>
		<string>Hidden</string>
		<key>Values</key>
		<array/>
	</dict>
</array>
</plist>
