div#upshot_safari_box{
	min-width: 250px !important; 
	min-height: 250px !important; 
	position: fixed !important; 
	top: 20px !important; 
	right: 20px !important; 
	color: #000 !important;
	z-index: 999999 !important;
	-webkit-box-shadow:0 0 15px #333 !important;
	border: 1px solid #ccc !important;
	-webkit-border-radius: 5px !important;
	padding: 5px !important;
	line-height: 1.5em !important;
	white-space: normal;
	background-color: #FFF !important;
	opacity: 1;
	margin: 5px auto !important;
	font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important;
	font-size: 12px !important;
}

#upshot_safari_box img#base64{
	border: 1px solid #ccc !important;
	max-width: 240px !important;
	margin: 10px !important;
	background-color: #FFF;
	opacity: 1;
}

#upshot_safari_box p{
	margin: 5px !important;
	line-height: 1.5em;
	background-color: #FFF;
	opacity: 1;
	font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important;
}

#upshot_safari_logo, #upshot_safari_logo p{
	text-align: center !important;
	margin: 5px auto !important;
	background-color: #FFF;
	opacity: 1;
	line-height: 1.5em !important;
	font-family: Georgia !important;
	font-size: 22px !important;
	border: none !important;
	font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important;
}

#upshot_safari_logo img{
	border: none !important;
}

#upshot_safari_login{
	text-align: center !important;	
	background-color: #FFF;
}

#upshot_safari_login button{
	line-height: 2em !important;
	color: #ffef67 !important; 
	background-color: #388B42; 
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	border: solid 1px rgba(0, 0, 0, 0.2);
	display: inline-block; 
	padding: 6px 18px  !important;
	text-decoration: none; 
	position: relative; 
	cursor: pointer; 
	font-size: 15px !important; 
	padding-top: 2x !important; 
	margin-top: 9px !important; 
	font-weight: normal; 
	border-bottom-left-radius: 5px 5px; 
	border-bottom-right-radius: 5px 5px; 
	border-top-left-radius: 5px 5px; 
	border-top-right-radius: 5px 5px; 
}

#upshot_safari_login button:hover { 
	background-color: #2B6D33; 
}

#upshot_safari_close, #upshot_safari_close img{
	position: absolute !important;
	top: 2px !important;
	right: 2px !important;
	cursor: pointer; 
	border: none !important;
}

#upshot_safari_box img#upshot_safari_loader{
	border-size: 0px !important;
}

/* UPSHOT STYLES*/

button#Draft{
  background: #EEE;
  text-shadow: rgba(255, 255, 255, 0.496094) 1px 1px 0px;
  color: #3B3B3B !important;
  font-size: 12px;
  padding: 6px 18px;
  -webkit-box-align: center;
  -webkit-box-sizing: border-box;
  -webkit-appearance: push-button;
  -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 1px 3px;
  border: 1px solid rgba(0, 0, 0, 0.199219);
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  cursor: pointer;
  font-weight: normal;
  line-height: 22px;
  margin-top: 9px;
  text-decoration: none;
}
button#Draft:hover{
  background: #79A0B2;
}
a.red{
  font-size: 12px;
  padding: 6px 12px;

  margin-left: 9px !important;

  cursor: pointer;
  font-weight: normal;
  line-height: 14px;
  margin-top: 9px;
  text-decoration: none;
}
button.red:hover{
  background-color: #F7E8E3;
}
